/**

div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

p {
    background-color: green;
    color: white;
    font-size: 18px;
}

button {
    background-color: orange;
    font-size: 18px;
}

**/
.text_style {
    background-color: lightpink;
    font-family: "Verdana, DejaVu Sans, sans-serif";
}

.font24 {
    font-size: 24px;
}

#blue {
    color: blue;
    font-size: 36px;
}

#green {
    color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}